# Other Documents
mmle.py
*.zip
*.pdf


# Model weights
*.h5


# Private keys
*.pem
*.ppk

# Datasets
test
train
KDEF
KDEF_COPY
*.jpeg
*.jpg
*.mp4


# Proctering-AI
Proctoring-AI

# yolo weights - Too big!
peoplecount/models